body{
    font-family: 'Lato', sans-serif;
}

/* header style */
.header{
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: center;
    padding: 200px 240px 0px 240px;
    background-color: rgba(229, 84, 115, 0.10);
}
/* .header-text{
    width: 50%;
} */
.header-title{
    font-size: 80px;
    font-weight: 800;
    color: #272727;
    margin: 0;
}
.header-description{
    font-size: 18px;
    font-weight: 400;
    color: rgba(39, 39, 39, 0.60);
    margin: 32px 0px 32px 0px;
}
/* .header-image{
    width: 50%;
} */
.btn-primary{
    background-color: #E55473;
    border-radius: 8px;
    padding: 20px 45px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    border: none;
}

/* our featured flower style */
.section-title{
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    color: #272727;
    margin-bottom: 24px;
}
.section-description{
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color: rgba(39, 39, 39, 0.60);
    margin-bottom: 48px;
}
.featured-flower{
    padding: 0px 240px 0px 240px;
}
.flower-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.image-style{
    width: 164px;
    height: 238px;
    padding: 110px 70px 0px 70px;
    border-radius: 300px 300px 0px 0px;
}
.img1-bg{
    background-color: rgba(167, 33, 98, 0.15);
}
.img2-bg{
    background-color: rgba(5, 151, 160, 0.15);
}
.img3-bg{
    background-color: rgba(71, 125, 17, 0.15);
}
.flower p{
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    text-decoration: underline;
    color: #272727;
}
/* service style */
.service-list{
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    width: 50%;
    margin: 0 auto;
    padding: 40px 120px;
    background-color: rgba(39, 39, 39, 0.05);
}
.service-item img{
    width: 88px;
    height: 88px;
}
/* hot deal style */
.hot-deal{
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(229, 84, 115, 0.05);
    padding: 0px 240px;
}
.hotDeal-text{
    width: 60%;
    margin-left: 50px;
}
.hotDeal-image{
    width: 40%;
}
/* instagram image section */
.instagram-image{
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: center;
}